/*=================
SCSS VARIABLES
=================*/
$primary-color: #33AD5C;
$secondary-color: #3d3d3d;
$background-color: #bdbdbd;
$sel-color: #000;
$sel-bg-color: red;

/*=================
GENERAL
=================*/

html {
  width: 100%;
  margin: 0;
}
body {
  background: $background-color;
  background-image: url(/img/bg.png);
  background-repeat: repeat;
  color: $primary-color;
  font-family: "Oleo Script", sans-serif;
  margin: 0;
  width: 100%;
}
::selection {
  background-color: $sel-bg-color;
  color: $sel-color;
}

/*=================
LAYOUT
=================*/

.outer {
    display: table;
    height: 100%;
    position: absolute;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/*=================
GENERAL
=================*/

/*Pitch Pipe*/

header {
  color: $secondary-color;
  line-height: 0.8;
  font-size: 56px;
  margin-right: 0;
  margin-bottom: 48px;
  position: relative;
  text-align: center;
  text-shadow: 4px 4px $primary-color;
}

/*Main*/
#pitch-pipe {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.3%;
  position: relative;
  width: 150px;
}

/*SVG*/
#pitch-pipe-svg {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#svg-circle {
  fill: $secondary-color;
}

#pitch-pipe text {
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.flat {
  font-size: 22px;
}

.sharp {
  font-size: 20px;
}

/*Selector*/
#selector {
  height: 123.67%;
  margin-top: -112.5%;
  margin-left: -12.5%;
  position: relative;
  width: 123.67%;
}

/*Output Display*/
#output-circle {
  background-color: white;
  border-radius: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: -86.85%;
  position: absolute;
  width: 50%;
}
#output {
  color: $primary-color;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  height: 100%;
  line-height: 0;
  margin-left: 0%;
  margin-top: -5%;
  position: absolute;
  text-align: center;
  width: 100%;
}
#output b {
  font-size: 0.5em;
}

/*=================
RESPONSIVE SIZES
=================*/

@media screen and (orientation: landscape) {
  header {
    float: left;
    margin-left: 0;
    margin-top: 5%;
  }
  #pitch-pipe {
    float: right;
  }
}
