/******SCSS Variables******/
/*Colors*/
/*Dimensions*/
/******General******/
/*Fonts*/
.flat {
  font-size: 22px;
}

.sharp {
  font-size: 20px;
}

/*Universals*/
::selection {
  color: black;
  background-color: red;
}

body {
  background: #e3e3e3;
  color: #33ad5c;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
}

header {
  font: 32px "Oleo Script", sans-serif;
  color: #85dba2;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-shadow: 4px 4px #33ad5c;
}

footer {
  font: 12px "Oleo Script", sans-serif;
  width: 100%;
  margin: 50%;
  padding: 0px;
  text-align: center;
}

/*******Pitch Pipe******/
/*SVG*/
#pitch-pipe {
  margin-top: 80px;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#pitch-pipe text {
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*Selector*/
#selector {
  position: relative;
  margin-top: -112.5%;
  margin-left: -11.5%;
  width: 123.67%;
  height: 123.67%;
}

/*Classes*/
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  margin-left: auto;
  margin-right: auto;
}

/******Responsive Sizes******/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #pitch-pipe {
    width: 300px;
    height: 300px;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  #pitch-pipe {
    width: 200px;
    height: 200px;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #pitch-pipe {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  #pitch-pipe {
    width: 800px;
    height: 800px;
  }
}
/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
