/******SCSS Variables******/

/*Colors*/
$primary-color: #33AD5C;
$background-color: #e3e3e3;
$sel-color: #000;
$sel-bg-color: red;

/*Dimensions*/
$pitch-pipe-margin: 80px;

/******General******/

/*Fonts*/
.flat {
  font-size: 22px;
}

.sharp {
  font-size: 20px;
}


/*Universals*/
::selection {
  color: $sel-color;
  background-color: $sel-bg-color;
}

body {
  background: $background-color;
  color: $primary-color;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
}

header {
  font:32px "Oleo Script", sans-serif;
  color: lighten($primary-color, 25%);
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-shadow: 4px 4px $primary-color;
}

footer {

}

/*******Pitch Pipe******/

/*Sizing Classes*/
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  margin-left: auto;
  margin-right: auto;
}

#pitch-pipe {
  margin-top: $pitch-pipe-margin;
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

/*SVG*/

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#pitch-pipe text {
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*Selector*/
#selector {
  position: relative;
  margin-top: -112.5%;
  margin-left: -11.5%;
  width: 123.67%;
  height: 123.67%;
}

/*Output Display*/
#output {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -110px;
  height: 50%;
  width: 50%;
  z-index: 1;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 150px;
  font-weight: bold;
  color: $background-color;
}

#output b {
  font-size: 24px;
}
/******Responsive Sizes******/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #pitch-pipe {
    width: 300px;
    height: 300px;
  }
  #output {
    margin-top: -120%;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
  #pitch-pipe {
    width: 450px;
    height: 450px;
  }
  #output {
    margin-top: -117%;
    font-size: 120px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
  #pitch-pipe {
  width: 200px;
  height: 200px;
  }
  #output {
    margin-top: -110%;
    font-size: 48px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  #pitch-pipe {
  width: 600px;
  height: 600px;
  }
  #output {
    margin-top: -115%;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
  #output {
    margin-top: -120%;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
  #output {
    margin-top: -115%;
  }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  #pitch-pipe {
    width: 450px;
    height: 450px;
  }
  #output {
    margin-top: -117%;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
  #output {
    margin-top: -120%;
    font-size:150px;
  }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  #pitch-pipe {
    width: 450px;
    height: 450px;
  }
  #output {
    margin-top: -117%;
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
  #pitch-pipe {
    width: 600px;
    height: 600px;
  }
  #output {
    margin-top: -115%;
    font-size: 150px;
  }
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
