/******SCSS Variables******/
/*Colors*/
/*Dimensions*/
/******General******/
/*Fonts*/
.flat {
  font-size: 22px;
}

.sharp {
  font-size: 20px;
}

/*Universals*/
::selection {
  color: black;
  background-color: red;
}

body {
  font-family: "Oleo Script", sans-serif;
  background: #e3e3e3;
  color: #33ad5c;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0px;
}

header {
  font-size: 32px;
  color: #3d3d3d;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  text-shadow: 4px 4px #33ad5c;
}

footer {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 60px;
  bottom: 0px;
  text-align: center;
  padding-bottom: 16px;
}

/*******Pitch Pipe******/
/*Sizing Classes*/
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  margin-left: auto;
  margin-right: auto;
}

/*Main*/
#pitch-pipe {
  margin-top: 80px;
  position: relative;
  width: 450px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

/*SVG*/
#pitch-pipe-svg {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#circle {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

#svg-circle {
  fill: #3d3d3d;
}

#pitch-pipe text {
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: bold;
}

#circle svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*Selector*/
#selector {
  position: relative;
  margin-top: -112.3%;
  margin-left: -11.7%;
  width: 123.67%;
  height: 123.67%;
}

/*Output Display*/
#output-circle {
  position: absolute;
  margin-left: 25%;
  margin-top: -87%;
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

#output {
  position: absolute;
  margin-left: 0%;
  margin-top: -5%;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 0;
  color: #33ad5c;
}

#output b {
  font-size: 0.5em;
}

/******Responsive Sizes******/
/*iPhone 3 and 4*/
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
  header {
    font-size: 24px;
  }

  #pitch-pipe {
    margin-top: 30px;
    height: 220px;
    width: 220px;
  }

  #output {
    font-size: 48px;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  header {
    font-size: 24px;
  }

  #pitch-pipe {
    height: 180px;
    width: 180px;
  }

  #output {
    font-size: 38px;
  }
}
