/******
SCSS VARIABLES
******/

/*Colors*/
$primary-color: #33AD5C;
$secondary-color: #3d3d3d;
$background-color: #bdbdbd;
$sel-color: #000;
$sel-bg-color: red;

/*Dimensions*/


/******
GENERAL
******/

/*Fonts*/
.flat {
  font-size: 22px;
}

.sharp {
  font-size: 20px;
}


/*Universals*/
::selection {
  color: $sel-color;
  background-color: $sel-bg-color;
}

body {
  font-family: "Oleo Script", sans-serif;
  background: $background-color;
  color: $primary-color;
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0px;
  background: $background-color;
}

header {
  font-size: 32px;
  color: $secondary-color;
  width: 100%;
  margin: 0px;
  margin-top: -10px;
  padding: 0px;
  text-align: center;
  text-shadow: 4px 4px $primary-color;
  line-height: 1;
}

footer {
  position: fixed;
  background-color: $secondary-color;
  text-shadow: 1px 1px $background-color;
  width: 100%;
  bottom: 0px;
  text-align: center;
  padding: 0px;
  font-size: 30px;
}

/******
PITCH PIPE
******/

/*Sizing Classes*/
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.circle {
  margin-left: auto;
  margin-right: auto;
}
/*Main*/
#pitch-pipe {
  margin-top: 60px;
  position: relative;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

/*SVG*/
#pitch-pipe-svg {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#svg-circle {
  fill: $secondary-color;
}

#pitch-pipe text {
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: bold;
}


/*Selector*/
#selector {
  position: relative;
  margin-top: -111.8%;
  margin-left: -11.85%;
  width: 123.67%;
  height: 123.67%;
}

/*Output Display*/
#output-circle {
  position: absolute;
  margin-left: 25%;
  margin-top: -87%;
  height: 50%;
  width: 50%;
  background-color: white;
  border-radius: 50%;
}
#output {
  position: absolute;
  margin-left: 0%;
  margin-top: -5%;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 0;
  color: $primary-color;
}

#output b {
  font-size: 0.5em;
}

/******Footer******/
#donate {
  padding: 1px;
}
