/*=================
SCSS VARIABLES
=================*/
/*=================
GENERAL
=================*/
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  overflow-x: hidden;
  width: 100%;
}

body {
  background: #bdbdbd;
  background-image: url(/img/bg.png);
  background-repeat: repeat;
  color: #33ad5c;
  font-family: "Oleo Script", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
}

::selection {
  background-color: #ff2000;
}

@font-face {
  font-family: 'accidentals';
  src: url("accidentals-webfont.eot");
  src: url("accidentals-webfont.eot?#iefix") format("embedded-opentype"), url("accidentals-webfont.woff") format("woff"), url("accidentals-webfont.ttf") format("truetype"), url("accidentals-webfont.svg#accidentalsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*=================
LAYOUT
=================*/
.outer {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*=================
GENERAL
=================*/
/*Pitch Pipe*/
header {
  color: #4a4a4a;
  line-height: 0.8;
  font-size: 42px;
  margin-right: 0;
  margin-bottom: 48px;
  position: relative;
  text-align: center;
  text-shadow: 4px 4px #33ad5c;
}

header b {
  font-size: 30%;
}

/*Main*/
#pitch-pipe {
  height: 162px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2%;
  position: relative;
  width: 162px;
}

/*SVG*/
#pitch-pipe-svg {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#svg-circle {
  fill: #4a4a4a;
}

#pitch-pipe text {
  color: #33ad5c;
  font-family: "Oleo Script", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.flat {
  font-size: 22px;
  font-family: accidentals, Verdana, sans-serif;
}

.sharp {
  font-size: 24px;
  font-family: accidentals, Verdana, sans-serif;
}

/*Selector*/
#selector {
  height: 123.67%;
  margin-top: -111.87%;
  margin-left: -11.81%;
  position: relative;
  width: 123.67%;
}

/*Output Display*/
#output-circle {
  background-color: white;
  border-radius: 50%;
  height: 50%;
  margin-left: 25.2%;
  margin-top: -87.2%;
  position: absolute;
  width: 50%;
}

#output {
  color: #33ad5c;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 700;
  height: 100%;
  line-height: 0;
  margin-left: 0%;
  margin-top: -5%;
  position: absolute;
  text-align: center;
  width: 100%;
}

#output b {
  font-size: 0.5em;
  font-family: accidentals, Verdana, sans-serif;
}

#output-circle:hover {
  background-color: #33ad5c;
  -webkit-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
  cursor: pointer;
}

#output:hover {
  color: white;
  -webkit-transition: 0.5s;
  /* For Safari 3.1 to 6.0 */
  transition: 0.2s;
}

.button {
  -moz-animation-name: glow;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-name: glow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/*Footer*/
footer {
  background-color: #4a4a4a;
  bottom: 0;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  height: 26px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

footer > span, footer > form {
  display: inline-block;
  height: 100%;
  margin: 0 auto;
  vertical-align: middle;
}

.copyright {
  font-size: 10px;
  vertical-align: -3px;
}

.pp button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font: inherit;
  color: inherit;
  display: inline-block;
  background: #4a4a4a;
  padding: 0 5px;
  text-decoration: none;
  color: #f9f6f2;
  height: 100%;
  cursor: pointer;
  vertical-align: middle;
}

.pp button:hover {
  background-color: #33ad5c;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  transition: 400ms ease;
}

.pp button img {
  vertical-align: -4px;
  margin-right: 8px;
}

.btc {
  position: relative;
  margin-left: 10px;
  display: inline-block;
  background: #4a4a4a;
  padding: 0 5px;
  text-decoration: none;
  color: #fff;
  height: 100%;
  cursor: pointer;
}

.btc:hover {
  background-color: #33ad5c;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  transition: 400ms ease;
}

.btc img {
  vertical-align: -5px;
  margin-left: 8px;
}

.btc a {
  color: #fff;
  text-decoration: none;
  vertical-align: -5px;
}

.btc .address {
  cursor: auto;
  position: absolute;
  width: 340px;
  right: 127%;
  margin-right: -170px;
  padding-bottom: 7px;
  top: -30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 400ms ease;
  -moz-transition: 400ms ease;
  transition: 400ms ease;
}

.btc .address code {
  background-color: #33ad5c;
  font-size: 10px;
  font-family: Courier,monospace;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
}

.btc:hover .address, .btc .address:hover .address {
  opacity: 1;
  top: -26px;
  pointer-events: auto;
}

/*=================
CSS3 ANIMATIONS
=================*/
/*Glow Effect*/
@-moz-keyframes glow {
  0% {
    box-shadow: 0 0 5px;
  }

  50% {
    box-shadow: 0 0 30px #33ad5c;
  }

  100% {
    box-shadow: 0 0 5px;
  }
}

@-webkit-keyframes glow {
  0% {
    box-shadow: 0 0 5px;
  }

  50% {
    box-shadow: 0 0 30px #33ad5c;
  }

  100% {
    box-shadow: 0 0 5px;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px;
  }

  50% {
    box-shadow: 0 0 30px #33ad5c;
  }

  100% {
    box-shadow: 0 0 5px;
  }
}

/*=================
RESPONSIVE SIZES
=================*/
/*Set landscape*/
@media screen and (max-width: 1199px) and (orientation: landscape) {
  header {
    float: left;
    margin-left: 0px;
    margin-top: 5%;
  }

  #pitch-pipe {
    float: right;
  }
}
/*Small Tablet Portrait*/
@media screen and (min-width: 480px) and (orientation: portrait) {
  header {
    font-size: 60px;
  }

  #pitch-pipe {
    height: 240px;
    width: 240px;
  }

  #output {
    font-size: 52px;
  }
}
@media screen and (min-width: 640px) and (orientation: landscape) {
  header {
    font-size: 60epx;
  }

  #pitch-pipe {
    height: 210px;
    width: 210px;
  }

  #output {
    font-size: 46px;
  }
}
/*Set Margins for Tablet and Larger*/
@media screen and (min-width: 640px) {
  #selector {
    margin-top: -111.85%;
    margin-left: -11.81%;
  }

  #output-circle {
    margin-left: 25%;
    margin-top: -86.9%;
  }
}
/*Tablet Portrait*/
@media screen and (min-width: 640px) and (orientation: portrait) {
  header {
    font-size: 80px;
    margin-bottom: 72px;
  }

  #pitch-pipe {
    height: 360px;
    width: 360px;
  }

  #output {
    font-size: 78px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  header {
    font-size: 80px;
  }

  #pitch-pipe {
    height: 320px;
    width: 320px;
  }

  #output {
    font-size: 72px;
  }
}
/*Desktop*/
@media screen and (min-width: 1200px) {
  header {
    font-size: 80px;
    margin-bottom: 80px;
    float: left;
    margin-left: 0px;
    margin-top: 5%;
  }

  #pitch-pipe {
    float: right;
    height: 380px;
    width: 380px;
  }

  #output {
    font-size: 82px;
  }
}
/*Desktop Large*/
@media screen and (min-width: 1440px) {
  header {
    font-size: 90px;
    margin-bottom: 90px;
  }

  #pitch-pipe {
    height: 420px;
    width: 420px;
  }

  #output {
    font-size: 92px;
  }
}
