/******SCSS Variables******/

/*Colors*/
$primary-color: #303030;
$background-color: #fff;
$sel-color: #000;
$sel-bg-color: red;

/*Dimensions*/
$pitch-pipe-margin: 20px;

/*Responsive Sizes*/
$phone: 480px;
$tablet-portrait: 767px;
$tablet-landscape-desktop: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
$non-retina: 'screen and (-webkit-max-device-pixel-ratio: 1)';
$retina: 'screen and (-webkit-min-device-pixel-ratio: 2)';

/******General******/

/*Fonts*/


/*Universals*/
body {
  background-color: $background-color;
  color: $primary-color;
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
}

header {
  font:32px "Oleo Script", sans-serif;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#pitch-pipe {
  margin-top: $pitch-pipe-margin;
}

::selection {
  color: $sel-color;
  background-color: $sel-bg-color;
}

/*Classes*/
.container {
  width: 100%;
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.circle {
  border-radius: 50%;
  width: 600px;
  height: 600px;
  background-color: $primary-color;
}
